fish_variables
skk

.direnv

eln-cache
config/emacs/elpa

# Emacs
parinfer-rust
*~
config/emacs/projects
emacs.d/elpa
emacs.d/transient
emacs.d/emojis

# Nix
result

*.raw.yaml

emacs.d/.cache
emacs.d/url
emacs.d/diary
emacs.d/tutorial/
emacs.d/.lsp-session-v1
emacs.d/.org-id-locations
emacs.d/bookmarks
emacs.d/eshell/
emacs.d/.authinfo.gpg
emacs.d/games/
emacs.d/ielm-history.eld
emacs.d/junk/
emacs.d/memo/
emacs.d/multisession/
emacs.d/network-security.data
emacs.d/newsticker/
emacs.d/org-roam/
emacs.d/projectile-bookmarks.eld
emacs.d/projects
emacs.d/recentf
emacs.d/request/
emacs.d/snippets/
emacs.d/templates/
emacs.d/tramp
emacs.d/tree-sitter/
.aider*
